@if (data) {
  <div class="card">
    <div class="card-img-container">
      <a href="/">
        <img
          [src]="'assets/img/movie/' + data.src + '.jpg'"
          [alt]="data.title"
          class="card-img"
          (error)="onImageError($event)"
        />
      </a>
      @if (data.rating) {
        <div class="card-bottom">
          <app-star-rating [data]="data"></app-star-rating>
        </div>
      }
    </div>

    <div class="card-title">
      {{ data.title }}
    </div>
  </div>
}
