<div class="filters">
    <!-- Tri -->
    <mat-form-field>
        <mat-label>Trier par</mat-label>
        <mat-select [value]="sortSubject.value" (selectionChange)="onSortChange($event.value)">
            <!-- Old for loop syntax -->
            <!-- @for (sort of sortBy; track sort.value) {
        <mat-option [value]="sort.value">{{sort.label}}</mat-option>
        } -->
            <!-- New Angular syntax -->
            <ng-container *ngFor="let sort of sortBy; trackBy: trackById">
                <mat-option class="option" [value]="sort.value">{{sort.label}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <!-- Filter par note -->
    <mat-form-field class="mb-5">
        <mat-label>Filtrer par</mat-label>
        <mat-select [value]="rateSubject.value" (selectionChange)="onRateChange($event.value)">
            <ng-container *ngFor="let rate of rates; trackBy: trackById">
                <mat-option class="option" [value]="rate.value">{{rate.label}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
</div>
<div class="movies">
    <ng-container *ngIf="movies$ | async as movies; else noMovies">
        <ng-container *ngFor="let movie of movies; trackBy: trackById">
            <app-card [movie]="movie"></app-card>
        </ng-container>
    </ng-container>
    <ng-template #noMovies>
        <p class="no-movies">Aucun film trouvé.</p>
    </ng-template>
</div>